.cards{
    width: auto;
    overflow: auto;
    margin-bottom: 0;
}

.cards.no-wrap{
    flex-wrap: nowrap;
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    /**/
}