/* ? Local components */
@import '../components/animation.css';
@import '../components/color.css';
@import '../components/background.css';
@import '../components/banner.css';
@import '../components/button.css';
@import '../components/footer.css';
@import '../components/text.css';

/* ? External components */
@import '../components/filter.css';
@import '../components/floating.css';
@import '../components/validation.css';
@import '../components/tab.css';
@import '../components/nav.css';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    --color-uno: #c11b34;
    --color-uno-alternativo: #db0c19;
    --color-dos: #a39b99;
    --color-dos-alternativo: #ccc4bf;
    --color-tres: #faf4f0;
    --color-cuatro: #1C1F22;
    min-height: 100vh;
    background-color: var(--color-tres);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-cuatro);
}

.main {
    min-height: calc(100vh - 4.6rem);
}

.input-group .input-field {
    background: white;
    border: 1px solid var(--color-cuatro);
    color: var(--color-cuatro);
    padding: calc(.5rem + 1px) 1rem;
    resize: none;
}

.input-group .input-field:focus {
    border-width: 2px;
    padding: .5rem 1rem;
}

::selection {
    background-color: var(--color-uno);
    color: var(--color-tres);
}

.asterisk {
    cursor: help;
}

/* * MD */
@media (min-width: 768px) {
    /**/
}

/* * LG */
@media (min-width: 1024px) {
    /**/
}

/* * XL */
@media (min-width: 1200px) {
    /**/
}