*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    --color-uno: #c11b34;
    --color-uno-alternativo: #db0c19;
    --color-dos: #a39b99;
    --color-dos-alternativo: #ccc4bf;
    --color-tres: #faf4f0;
    --color-cuatro: #1C1F22;
    min-height: 100vh;
    background-color: var(--color-tres);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-cuatro);
}

main{
    min-height: 100vh;
}