/* * External components */
@import '../components/footer.css';
@import '../components/nav.css';
@import '../components/dropdown.css';
@import '../components/whatsapp.css';

/* ? Repositorie components */
@import '../components/animations.css';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    transition: 300ms;
}

body{
    --color-uno: #c11b34;
    --color-uno-alternativo: #db0c19;
    --color-dos: #a39b99;
    --color-dos-alternativo: #ccc4bf;
    --color-tres: #faf4f0;
    --color-cuatro: #1C1F22;
    min-height: 100vh;
    background-color: var(--color-tres);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-cuatro);
}

.main{
    min-height: 100vh;
}

.MontereyFLF{
    font-family: MontereyFLF;
    font-weight: bold;
    text-transform: uppercase;
}

.Work-Sans{
    font-family: "Work Sans";
    text-transform: uppercase;
    font-size: 1rem;
}

.Work-Sans .first-letter{
    font-size: 1.5rem;
}

.no-text{
    font-size: 0;
}

.color-uno{
    color: var(--color-uno);
}

.color-dos{
    color: var(--color-dos);
}

.btn-uno{
    position: relative;
    background-color: var(--color-uno);
    color: var(--color-tres);
    border-radius: .25rem;
    width: auto;
}

.btn-uno:hover{
    background-color: var(--color-uno-alternativo);
    color: var(--color-tres);
}

.btn-dos-transparent{
    --color-one: var(--color-dos-alternativo);
    --color-two: var(--color-dos);
    position: relative;
    color: var(--color-tres);
    border-radius: .25rem;
    width: auto;
    border: 1px solid transparent;
    font-weight: bold;
    z-index: 3;
}

.btn-dos-transparent:hover{
    border: 1px solid var(--color-dos-alternativo);
    background-color: var(--color-dos-alternativo);
    color: var(--color-cuatro);
    animation: pulse 2s infinite;
}

.btn-cuatro{
    position: relative;
    background-color: var(--color-cuatro);
    color: var(--color-tres);
    border-radius: .25rem;
    width: auto;
}

.btn-cuatro:hover{
    background-color: var(--color-uno-alternativo);
    color: var(--color-tres);
}

.btn-cuatro:hover .icon,
.btn-uno:hover .icon{
    transform: translateX(-25%);
}

.input-group .input-field{
    background: white;
    border: 1px solid var(--color-cuatro);
    color: var(--color-cuatro);
    padding: calc(.5rem + 1px) 1rem;
    resize: none;
}

.input-group .input-field:focus{
    border-width: 2px;
    padding: .5rem 1rem;
}

.title{
    border-bottom: 1px solid var(--color-dos);
}

::selection{
    background-color: var(--color-uno);
    color: var(--color-tres);
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    /**/
}