.floating-button.btn.btn-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
}

.tab-menu .tabs .tab-menu-list .tab .tab-link,
.tab-menu .tabs .tab-menu-list .tab .tab-button {
    justify-content: center;
}

.table thead th {
    border: none;
}

td.actions {
    display: flex;
    justify-content: flex-end;
}

table tr {
    transition: 500ms;
}

table tr:hover {
    background-color: var(--color-dos-alternativo);
}

/* * MD */
@media(min-width: 768px){
    .tab-menu.vertical .tab-content-list .tab-content {
        padding-top: 4.6rem;
    }
}

/* * LG */
@media(min-width: 1024px){
    .nav-menu {
        padding-right: 1rem;
        padding-left: 25%;
    }
}

/* * XL */
@media(min-width: 1200px){
    /*  */
}